
body{
    color:black;
    padding: 25px;
    font-size:1.5em;
}

div{
    border: 15px solid green;
    padding: 50px;
    margin: 20px;

}


.box {
    background-color:blue;
    text-align: center;
    color:white;
    padding:5%;
}

#john{
    width:200px;
    height:auto;
    float:right;
}